*{
    margin: 0px;
    display: block;
}
body{
    margin-top: 68px; 
    background-color: #c9c9cb;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1, a{
    position: fixed;
    top: 0px;
    text-shadow: 1px 1px 0px #ef9651;
    width: 100%;
    height: 68px;
    text-align: center;
    font-size: 50px;
    background-color: #101f3f;
    color: #efefef;
    padding: 5px;
    margin: 0px;
}
a{
    position: fixed;
    top: 68px;
    text-shadow: none;
    width: 100px;
    height: 40px;
    min-width: fit-content;
    font-size: 30px;
    background-color: #3f7d58;
    text-decoration: none;
}
img{
    width: 600px;
    margin: 0px 110px;
    display: block;
}
p, h2{
    color: #3f7d58;
    text-shadow: 2px 1px 0px #b8f4f5;
    margin: 10px 0px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    border: #ec5228 solid 2px;
    width: fit-content;
    background-color: #b8f4f5;
    font-size: 30px;
    padding:10px 20px;
    color: #ec5228;
    margin: 0px;
}
ul{
    width: 100%;
    padding: 20px;
    padding-left: 40px;
    background-color: #b8f4f5;
    font-size: 50px;
    color: #ef9651;
    text-shadow: 1px 1px 0px #101f3f;
}
li{
    color: #3f7d58;
    display: list-item;
    font-size: 25px;
}
ol, ol ul{
    padding: 10px 0px 10px 20px;
    background-color: #c9c9cb;
    margin-left: 20px;
}
ol li{
    color: #ef9651;
    text-shadow: 2px 1px 0px #101f3f;
}
strong{
    display: inline;
}
li.italic {
    font-style: italic;
}
title{
    display: none;
}
